@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1000deg);
  }
}
.centre {
  position: absolute;
  left: 360px;
  top: 353px;
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}
.centre span {
  position: absolute;
  color: white;
  font-weight: bolder;
  font-size: 1.7em;
  z-index: 15;
  left: 15px;
  top: 28px;
}
.centre .fleche {
  position: relative;
  border-right: 29px solid transparent;
  border-bottom: 36px solid black;
  border-left: 25px solid transparent;
  z-index: 10;
  left: 24px;
  display: inline-block;
  top: -24px;
}

.circle {
  transition: rotate 2s;
  transform: rotate(0deg);
  position: relative;
  height: 700px;
  width: 700px;
  background-color: #2E1E28;
  border-radius: 50%;
}
.circle .box-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(11deg);
}
.circle #b-1 {
  border-left-color: rgb(40, 221, 241);
}
.circle .box-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(21deg);
}
.circle #b-2 {
  border-left-color: rgb(255, 43, 32);
}
.circle .box-3 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(31deg);
}
.circle #b-3 {
  border-left-color: rgb(47, 206, 15);
}
.circle .box-4 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(41deg);
}
.circle #b-4 {
  border-left-color: rgb(189, 5, 189);
}
.circle .box-5 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(51deg);
}
.circle #b-5 {
  border-left-color: rgb(85, 17, 17);
}
.circle .box-6 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(61deg);
}
.circle #b-6 {
  border-left-color: rgb(232, 240, 14);
}
.circle .box-7 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(71deg);
}
.circle #b-7 {
  border-left-color: rgb(40, 221, 241);
}
.circle .box-8 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(81deg);
}
.circle #b-8 {
  border-left-color: rgb(255, 43, 32);
}
.circle .box-9 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(91deg);
}
.circle #b-9 {
  border-left-color: rgb(47, 206, 15);
}
.circle .box-10 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(101deg);
}
.circle #b-10 {
  border-left-color: rgb(189, 5, 189);
}
.circle .box-11 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(111deg);
}
.circle #b-11 {
  border-left-color: rgb(85, 17, 17);
}
.circle .box-12 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(121deg);
}
.circle #b-12 {
  border-left-color: rgb(232, 240, 14);
}
.circle .box-13 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(131deg);
}
.circle #b-13 {
  border-left-color: rgb(40, 221, 241);
}
.circle .box-14 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(141deg);
}
.circle #b-14 {
  border-left-color: rgb(255, 43, 32);
}
.circle .box-15 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(151deg);
}
.circle #b-15 {
  border-left-color: rgb(47, 206, 15);
}
.circle .box-16 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(161deg);
}
.circle #b-16 {
  border-left-color: rgb(189, 5, 189);
}
.circle .box-17 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(171deg);
}
.circle #b-17 {
  border-left-color: rgb(85, 17, 17);
}
.circle .box-18 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(181deg);
}
.circle #b-18 {
  border-left-color: rgb(232, 240, 14);
}
.circle .box-19 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(191deg);
}
.circle #b-19 {
  border-left-color: rgb(40, 221, 241);
}
.circle .box-20 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(201deg);
}
.circle #b-20 {
  border-left-color: rgb(255, 43, 32);
}
.circle .box-21 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(211deg);
}
.circle #b-21 {
  border-left-color: rgb(47, 206, 15);
}
.circle .box-22 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(221deg);
}
.circle #b-22 {
  border-left-color: rgb(189, 5, 189);
}
.circle .box-23 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(231deg);
}
.circle #b-23 {
  border-left-color: rgb(85, 17, 17);
}
.circle .box-24 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(241deg);
}
.circle #b-24 {
  border-left-color: rgb(232, 240, 14);
}
.circle .box-25 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(251deg);
}
.circle #b-25 {
  border-left-color: rgb(40, 221, 241);
}
.circle .box-26 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(261deg);
}
.circle #b-26 {
  border-left-color: rgb(255, 43, 32);
}
.circle .box-27 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(271deg);
}
.circle #b-27 {
  border-left-color: rgb(47, 206, 15);
}
.circle .box-28 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(281deg);
}
.circle #b-28 {
  border-left-color: rgb(189, 5, 189);
}
.circle .box-29 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(291deg);
}
.circle #b-29 {
  border-left-color: rgb(85, 17, 17);
}
.circle .box-30 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(301deg);
}
.circle #b-30 {
  border-left-color: rgb(232, 240, 14);
}
.circle .box-31 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(311deg);
}
.circle #b-31 {
  border-left-color: rgb(40, 221, 241);
}
.circle .box-32 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(321deg);
}
.circle #b-32 {
  border-left-color: rgb(255, 43, 32);
}
.circle .box-33 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(331deg);
}
.circle #b-33 {
  border-left-color: rgb(47, 206, 15);
}
.circle .box-34 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(341deg);
}
.circle #b-34 {
  border-left-color: rgb(189, 5, 189);
}
.circle .box-35 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(351deg);
}
.circle #b-35 {
  border-left-color: rgb(85, 17, 17);
}
.circle .box-36 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(361deg);
}
.circle #b-36 {
  border-left-color: rgb(232, 240, 14);
}
.circle .choix {
  position: absolute;
  left: 50%;
  transform: translate(-100%, -50%);
  top: 50%;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  border-top: 27px solid transparent;
  border-bottom: 23px solid transparent;
  border-left: 348px solid red;
}
.circle .choix span {
  position: relative;
  right: 330px;
  top: -19px;
  font-size: 2em;
}/*# sourceMappingURL=main.css.map */