
tr, td, th, table {
    border: 1px solid red;
    border-radius: 15px;
    border-spacing: 0px;
}

tr td [colspan="2"] {
    text-align: center;

}

tr:nth-child(odd) {
    background-color: rgb(0, 162, 255);
}
.Bonjour tr td{
    background-color: aquamarine;
}

table {
    border-radius: 15px;
}

input[type="submit"], input[type="reset"] {
    font-size: 1.7em;
    border-radius: 25%;
}

#message {
    resize: none;
}
/* Je créer une animation qui se nomme animationimg au début elle va transform scalex en -1
puis elle va transform scalex en 1 et à la fin elle va transform scalex en -1 */
@keyframes animationimg {
    0%{
        transform: (1);
    }
    50%{
        transform: scaleX(1);
    }
    
    100%{
        transform: scaleX(-1);
    }
}

img {
    border: 3px dashed gray;
    border-radius: 25px;
    opacity: .6;
    width: 50%;
    /* height:auto; max-width: 100%; je rend m image recurcive/responsive*/
    filter: blur(0.5px);
    filter: contrast(100%);
    animation: animationimg 1.5s ease-in infinite ;
    /* Je dit que l'élément img joue l'animation qu'elle doit durée 1.5s en fonctionnement 
    en ease-in et elle se joue un nombre infini de fois */
}

img:hover {
    transform: scalex(-1) ;
}
.test {
    color: blue;

.fieldset {
    width: 10px;
}

.conteneur {
    width: 100%;
    display: flex;
}

.rouge {
    background-color: red;
    width: 25%;
    height: 75px;
}

.vert {
    background-color: green;
    width: 25%;
    height: 75px;
}

.orange {
    background-color: orange;
    width: 25%;
    height: 75px;
}
}
