#minuteur{
    font-size: 6em;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    letter-spacing: 10px;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: rgb(82, 80, 80);
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#minuteur{
    background-color: blue;
    text-align: center;
}

input[type='number']{
    width: 30%;
    border: none;
}

button, input[type='submit']{
    margin-bottom: 15px;

}

input[type="submit"], #play{
    margin-top: 15px;
    border: none;
    border: 1px solid rgb(141, 141, 243);
    background-color: rgb(141, 141, 243);
    font-size: 1.5em;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;

}

#pause, #reset{
    margin-top: 15px;
    border: none;
    border: 1px solid rgb(220, 20, 20);
    background-color: rgb(220, 20, 20);
    font-size: 1.5em;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
}

form label{
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
    border: 1px solid white;
    background-color: white;
    margin:15px 0 15px 0;
}




