input:required:valid {
outline: none;
border-color: chartreuse;
}
input:required:invalid {
outline: none;
border-color: red;
}




input {
background-color: none;
border: 3px ridge black;
border-radius: 10px;
margin: 2px;
outline: none;
}